[submodule "3rdparty/test262"]
	path = 3rdparty/test262
	url = https://github.com/tc39/test262
[submodule "3rdparty/docopt.cpp"]
	path = 3rdparty/docopt.cpp
	url = git@github.com:docopt/docopt.cpp.git
